<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mibh.mis.tmsland">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MoreInfoActivity"
            android:label="รายละเอียด"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionbar" />
        <activity
            android:name=".activity.ImageTypeActivity"
            android:label="รายการถ่ายภาพ"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionbar" />
        <activity
            android:name=".activity.WorkDetailActivity"
            android:label="รายละเอียด"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionbar" />
        <activity
            android:name=".activity.ImageGalleryActivity"
            android:label="รายการภาพถ่าย"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionbar" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="landscape"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignaturePadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DialogNotificationActivity"
            android:theme="@style/AppDialogNotificationTheme" />
        <activity android:name=".activity.NewsActivity" />
        <activity
            android:name=".activity.MtnCloseActivity"
            android:label="ตรวจสภาพ/รายงานตัว"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionbar" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.FbInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FbMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.UploadImageService"
            android:enabled="true"
            android:label="Upload Picture" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>